
:root {
    --easing: ease-in;
    --transition-timing: 100ms;
    --switch-width: 60px;
    --switch-height: 34px;
    --switch-radius: var(--switch-width);
    --switch-gap: 8px;
    --spacing: 20px;
}
